h1 {
  text-align: center;
}

.Form-Container {
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
}
.Name {
  padding: 2%;
  background-color: lightgrey;
  width: 50%;
}
.Size-Container {
  padding: 2%
}

.Toppings {
  padding: 2%;
  background-color: lightgrey;
  width: 50%;
}

.Instructions {
  padding: 2%;
  background-color: lightgrey;
  width: 50%;
}

#order-button {
  width: 10%;
  margin: 0 45%
}

img {
  height: 30vh;
  width: 95%;
  padding-left: 2%;
}